<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Shooting CCA web app</title>
  <link rel='stylesheet' href='../static/style.css'>
</head>
<body>
  <!-- Nav Bar -->
  <ul class="navbar">
    <li><a class='active' href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
    <li><a href="{{ url_for('reflection') }}">Reflection</a></li>
    <li><a href=" {{ url_for('plotter') }}">Plotter</a></li>
  </ul>
  <div id="mainwrapper">
    <!-- Content -->
    <h1>Shooting CCA</h1>
    <hr>
    <h2>Announcements</h2>
    
    {% if announcements %}
      <ul class='announcements'>
      {% for announcement in announcements %}
        <li>{{ announcement }}</li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No announcements yet.</p>
    {% endif %}
    
    <br>
  
    <form action='/announcement'>
      <input type='submit' value='add/delete announcements'>
    </form>
  
    <br><hr>
    
    <h2>Debriefs</h2>
    <h3>Latest:</h3>
    {% if debriefs %}
      {% if show %}
        {% for debrief in debriefs %}
          <p>{{ debrief }}</p>
        {% endfor %}
        <form method='POST'>
          <input type='submit' value='Show less'>
        </form>
      {% else %}
        {{ debriefs[0] }}
        <br><br>
        <form method='POST'>
          <input type='hidden' name='show' value='show'>
          <input type='submit' value='Show more'>
        </form>
        <br>
      {% endif %}
    {% else %}
      <p>No debriefs posted yet.</p>
    {% endif %}
    <br>
    <form method='POST'>
      <label for='debrief'>Add debrief:</label>
      <br>
      <textarea id='debrief' name='debrief' rows='4' cols='50'></textarea>
      <br>
      <input type='submit' value='Add'>
    </form>
  </div>
  
</body>
</html>
