<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Reflection</title>
    <link rel='stylesheet' href='../static/style.css'>
  </head>
  <body>
    <!-- Nav Bar -->
    <ul class="navbar">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
      <li><a class='active' href="{{ url_for('reflection') }}">Reflection</a></li>
      <li><a href=" {{ url_for('plotter') }}">Plotter</a></li>
    </ul>
    
    <div id="mainwrapper">
      <h1>Reflection</h1>
  
      <!-- Form for selecting student -->
      <form method='POST'>
        <label for='select_student'>Name:</label>
        <!-- making the drop down box -->
        <select id='select_student' name='select_student'>
          <!-- if student has been selected, put selected student as the 'default' value -->
          {% if select_student %}
            <option value="{{ select_student.upper() }}" selected>{{ select_student.upper() }}</option>
          {% endif %}
          
          {% for student in students %} <!-- for loop going through each student -->
            <!-- if student has been selected, remove the 2nd occurance of their name -->
            {% if select_student %}
              {% if student != select_student.upper() %}
                <option value='{{ student }}'>{{ student }}</option>
              {% endif %}
          
            <!-- else, display all students -->
            {% else %}
              <option value='{{ student }}'>{{ student }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <input type='submit' value='Select'>
      </form>
      <!-- show which student is selected -->
      {% if select_student %}
        <p>Student selected: {{ select_student }}</p>
  
        <!-- Form for writing reflection -->
        <form method='POST'>
          <input type='hidden' name='select_student' value='{{ select_student }}'>
          <label for='reflections'>Reflections: </label>
          <textarea id='reflections' name='reflections' rows='4' cols='50'></textarea>
          <input type='submit' value='submit'>
        </form>
        <!-- display reflections -->
        {% if student_content %}
          <h3>Reflections: </h3>
          {% for reflection in student_content %}
            <p>{{ reflection }}</p>
          {% endfor %}
        {% else %}
          <p>{{ select_student }} has not wrote any reflections before.</p>
        {% endif %}
      {% endif %}
    </div>
  </body>
</html>
