<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Add/Delete announcement</title>
    <link rel='stylesheet' href='../static/style.css'>
  </head>
  <body>
    <!-- Nav Bar -->
    <ul class="navbar">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
      <li><a href="{{ url_for('reflection') }}">Reflection</a></li>
      <li><a href=" {{ url_for('plotter') }}">Plotter</a></li>
    </ul>
    
    <div id="mainwrapper">
    <h1>Add or Delete announcement</h1>
      {% if announcements %}
        <form action='/' method='POST'>
          {% for announcement in announcements %}
            <input type="checkbox" name='deleted_announcement' id='deleted_announcement' value='{{ announcement }}'>
            <label for='checkbox'>{{ announcement }}</label>
            <br>
          {% endfor %}
          <br>
          <input type='submit' value='Delete'>
        </form>
      {% else %}
        <p>No announcements to delete.</p>
      {% endif %}
  
      <hr>
  
      <form action='/' method='POST'>
        <label for='announcement'>Add announcement:</label>
        <br>
        <input type='text' name='announcement' id='announcement' required>
        <input type='submit' value='Add'>
      </form>
    </div> 
  </body>
</html>
