<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>CCA schedule</title>
    <link rel='stylesheet' href='../static/style.css'>
  </head>
  <body>
    <!-- Nav Bar -->
    <ul class="navbar">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a class='active' href="{{ url_for('schedule') }}">Schedule</a></li>
      <li><a href="{{ url_for('reflection') }}">Reflection</a></li>
      <li><a href=" {{ url_for('plotter') }}">Plotter</a></li>
    </ul>
    
    <div id="mainwrapper">
      <!-- Content -->
      <h1>Upload Image</h1>
      <form action="/schedule" method="POST" enctype="multipart/form-data">
        <!-- Input image -->
        <input type="file" name="schedule" required>
        <button type="submit">Upload</button>
        <label for="month">Select Month Range:</label>
        <!-- Input month -->
        <select name="month" id="month" required>
          <option value="Jan_Feb">January - February</option>
          <option value="Feb_March">February - March</option>
          <option value="March_April">March - April</option>
          <option value="April_May">April - May</option>
          <option value="May_June">May - June</option>
          <option value="June_July">June - July</option>
          <option value="July_Aug">July - August</option>
          <option value="Aug_Sep">August - September</option>
          <option value="Sep_Oct">September - October</option>
          <option value="Oct_Nov">October - November</option>
          <option value="Nov_Dec">November - December</option>
          <option value="Dec_Jan">December - January</option>
        </select>
      </form>

      <hr>
      
      {% if schedules %}
        <!-- Display when their is existing images of schedules -->
        {% for schedule in schedules %}
          <!-- String slicing for the month name -->
          <h2>{{ schedule[2:-4] }}</h2>
          <!-- Display the corressponding month -->
          <img src="../static/{{ schedule }}" alt="{{ schedule[2:-4] }}">
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
